Python

.pyc pycache/ .pyo .pyd .db

Virtual Environment

.venv/ env/ venv/ venv.bak/ env.bak/ ENV/

Django stuff

.log .pot .pyc .sqlite3 db.sqlite3

Environment variables

.env

VS Code

.vscode/

PyCharm

.idea/
