<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auuth Site{% endblock %}</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
        Hello, {{ user.get_username }} |
        <a href="{% url 'home' %}">Home</a> |
        <form action="{% url 'logout' %}" method="post" style="display:inline">
            {% csrf_token %}
            <button type="submit" style="background:none;border:none;padding:0;cursor:pointer;">
            Logout
            </button>
        </form>
                
        {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'signup' %}">Sign up</a>
        {% endif %}
    </nav>

    <hr>
    <main>
        {% if messages %}
        <ul>
            {% for msg in messages %}
            <li>{{ msg }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>